<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-au" xml:lang="en-au">
<head>
<link rel="stylesheet" type="text/css" href="/static/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/opensans.css">
<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="/static/css/style.css"/>

<script type="text/javascript" src="/static/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/style.js"></script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>{% block title %}{% endblock %}</title>
<meta name="author" content="{% block author %}{% endblock %}"/>
{% block site_extrahead %}{% endblock %}
{% block extrahead %}{% endblock %}
</head>

<body>
<!-- Container -->
<div id="container">

    <!-- Header -->
    <header>
        <div class="header-inner">
            <div class="logo">
                <a href="/"><img src="/static/images/logo.png">
                <div class="site-title">PYPI</div></a>
            </div>
            <nav class="user-nav">
                <a href="{% url "djangopypi-release-index" %}">Releases</a>
                |
                <a href="{% url "djangopypi-package-index" %}">Packages</a>
                |
                <a href="{% url "djangopypi-package-index-simple" %}">Simple</a>
                |
                <a href="/admin/">Admin</a>
            </nav>
        </div>
    </header>
    <div class="header-push"></div>
    <div class="color-header">
        <h1 class="breadcrumb-header">
            <ol class="breadcrumbs">
                <li title="home"><a href="/{{ base_url }}">Home</a></li>
                {% block bread_crumbs_1 %}{% endblock %}
            </ol>
        </h1>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        <div id="content-main">
        {% block objecttools %}{% endblock %}
        {% block sidebar %}{% endblock %}
        {% block content %}{{ content }}{% endblock %}
        </div>
        <br class="clear" />
    </div>
    <!-- END Content -->

    <!-- Footer -->
    <div id="footer">
    {% block footer %}
    {% endblock %}
    </div>
    <!-- END Footer -->
</div>
<!-- END Container -->

</body>
</html>
