{% extends "base_site.html" %}

{% block bread_crumbs_1 %}<li>Packages</li>{% endblock %}

{% block content %}
<table id="packages_table"><thead><th>Package</th><th>Description</th></thead>
<tbody>
{% for package in package_list %}
    <tr>
        <td><a href="{{ package.get_absolute_url }}"/>{{ package }}</a></td>
        <td>{% if package.latest %}{{ package.latest.summary|truncatewords:10 }}{% endif %}</td>
    </tr>
{% endfor %}
</tbody></table>
<script>
    $(function() {
        $('#packages_table').dataTable({pageLength: 25, language: {search: "", searchPlaceholder: "Search"}});
    });
</script>
{% endblock %}
